

<div class="container-fluid">
    <div class="card mb-4 list-card">
        <div class="card-header">
            <h4 class="float-left">Outward List</h4>
                <a href="javascript:void(0)" routerLink="/inward-material/outward" class="btn  btn-primary float-right">Add Outward</a>
        </div>
        <div class="card-body">
            <!--table listing statrt hover-->
            <div id="no-more-tables">
                <!-- This id used for responsive table -->
  
              <table class="table row-border hover">
                <thead>
                  <tr>
                    <th style="width: 20%;">Outward Date</th>
                    <th style="width: 25%;">Job Number</th>
                    <th style="width: 20%;">Engg Name</th>
                    <th style="width: 15%;">Service Amount</th>
                    <th style="width: 20%;" class="text-center actions-td cursor">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td data-title="Outward Date">10-10-2020</td>
                      <td data-title="Job Number">1234567</td>
                      <td data-title="Engg Name">Nitin Patil</td>
                      <td data-title="Service Amount">5000/-</td>
                      <td data-title="Actions" class="action text-center actions-td">
                        <div class="d-flex justify-content-center">
                          <a href="javascript:void(0)">
                            <i class="far fa-edit orange" placement="top"
                               ngbTooltip="Edit"></i>
                          </a>
                          <a href="javascript:void(0)">
                            <i class="fas fa-print orange" placement="top"
                               ngbTooltip="Inward Print"></i>
                          </a>
                          <a href="javascript:void(0)">
                            <i class="far fa-trash-alt orange" placement="top"
                               ngbTooltip="Delete"></i>
                          </a>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td data-title="Outward Date">10-10-2020</td>
                    <td data-title="Job Number">1234567</td>
                    <td data-title="Engg Name">Nitin Patil</td>
                    <td data-title="Service Amount">5000/-</td>
                    <td data-title="Actions" class="action text-center actions-td">
                      <div class="d-flex justify-content-center">
                        <a href="javascript:void(0)">
                          <i class="far fa-edit orange" placement="top"
                             ngbTooltip="Edit"></i>
                        </a>
                        <a href="javascript:void(0)">
                          <i class="fas fa-print orange" placement="top"
                             ngbTooltip="Inward Print"></i>
                        </a>
                        <a href="javascript:void(0)">
                          <i class="far fa-trash-alt orange" placement="top"
                             ngbTooltip="Delete"></i>
                        </a>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td data-title="Outward Date">10-10-2020</td>
                    <td data-title="Job Number">1234567</td>
                    <td data-title="Engg Name">Nitin Patil</td>
                    <td data-title="Service Amount">5000/-</td>
                    <td data-title="Actions" class="action text-center actions-td">
                      <div class="d-flex justify-content-center">
                        <a href="javascript:void(0)">
                          <i class="far fa-edit orange" placement="top"
                             ngbTooltip="Edit"></i>
                        </a>
                        <a href="javascript:void(0)">
                          <i class="fas fa-print orange" placement="top"
                             ngbTooltip="Inward Print"></i>
                        </a>
                        <a href="javascript:void(0)">
                          <i class="far fa-trash-alt orange" placement="top"
                             ngbTooltip="Delete"></i>
                        </a>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td data-title="Outward Date">10-10-2020</td>
                    <td data-title="Job Number">1234567</td>
                    <td data-title="Engg Name">Nitin Patil</td>
                    <td data-title="Service Amount">5000/-</td>
                    <td data-title="Actions" class="action text-center actions-td">
                      <div class="d-flex justify-content-center">
                        <a href="javascript:void(0)">
                          <i class="far fa-edit orange" placement="top"
                             ngbTooltip="Edit"></i>
                        </a>
                        <a href="javascript:void(0)">
                          <i class="fas fa-print orange" placement="top"
                             ngbTooltip="Inward Print"></i>
                        </a>
                        <a href="javascript:void(0)">
                          <i class="far fa-trash-alt orange" placement="top"
                             ngbTooltip="Delete"></i>
                        </a>
                      </div>
                  </td>
                </tr>
                </tbody>
              </table>
                <!--table listing end-->
            </div>
        </div>
    </div>
  </div>
  
  

