<div class="container-fluid">
    <!--success message-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<!--success message-->
    <div class="card mb-4 list-card">
        <div class="card-header">
            <h4 class="float-left">Model No / Material Type / Company Name</h4> 
                <button class="btn  btn-primary float-right" (click)="addSearchModelNoMaterialTypePopup(0)">Add Material Type</button>
        </div>
        <div class="card-body">
            <!--table listing statrt hover-->
            <div id="no-more-tables">
                <!-- This id used for responsive table -->
                <table class="table row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th scope="col" style="width:88%" class="cursor">
                                <div class="d-flex align-items-center"><span>Model No</span> <span>
                                        &#9660;</span></div>
                            </th>
                            <th scope="col" style="width:88%" class="cursor">
                                <div class="d-flex align-items-center"><span>Material Type</span> <span>
                                        &#9660;</span></div>
                            </th>
                            <th scope="col" style="width:88%" class="cursor">
                                <div class="d-flex align-items-center"><span>Company Name</span> <span>
                                        &#9660;</span></div>
                            </th>
                            <th scope="col" style="width:12%" class="text-center actions-td cursor">
                                <div class="d-flex align-items-center justify-content-center"><span>Actions</span>
                                    </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let material of searchModelNoMaterialTypeCompanyNameServiceList">
                            <td data-title="Model No">{{material.modelNo}}</td>
                            <td data-title="Material Type">{{material.materialType}}</td>
                            <td data-title="Company Name">{{material.companyName}}</td>
                            <td data-title="Actions" class="action text-center actions-td">
                                <div class="d-flex justify-content-center">
                                    <a href="javascript:void(0)"> <i class="far fa-edit orange" placement="top"
                                            ngbTooltip="View/Edit" (click)="addSearchModelNoMaterialTypePopup(material.searchId)"></i></a>
                                    <a href="javascript:void(0)">
                                        <i class="far fa-trash-alt orange" placement="top" ngbTooltip="Delete" (click)="openDelete(content,material.searchId)"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--table listing end-->
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="icon-select"></i> Confirm</h4>
    </div>
    <div class="modal-body">
        <p class="text-center">Are you sure, you want to delete?</p>
    </div>
    <div class="modal-footer no-top-border">
        <button class="btn btn-primary" (click)="modal.close(true)">OK</button>
        <button class="btn btn-secondary" (click)="modal.close(false)">Cancel</button>
    </div>
</ng-template>

