
<div class="form-signin">
  <div class="text-center logo">
    <ngb-alert *ngIf="error" type="danger" (close)="error = null">Please enter valid credentials</ngb-alert>
    <!-- <img src="./assets/imgs/logos/logo.png" alt="Logo"> -->
    <h4>GOPAL</h4>
    <p>Computers</p>
  </div>

<form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
  <h5 class="title">LOGIN</h5>

  <div class="row">

    <div class="col-12">
      <div class="form-group has-float-label field-with-icon">
        <i class="fas fa-envelope"></i>
        <input class="form-control" type="text" id="userEmail" placeholder="Email Address" formControlName="userEmail">
        <label for="userEmail">Email Address</label>
        <div *ngIf="loginForm.controls['userEmail'].invalid && (loginForm.controls['userEmail'].dirty || loginForm.controls['userEmail'].touched)"
             class="error-msg">
          <div *ngIf="loginForm.controls['userEmail'].errors.required">
            Email is required.
          </div>
          <div *ngIf="loginForm.controls['userEmail'].errors.email || loginForm.controls['userEmail'].errors.pattern">
            Email must be a valid email address.
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group  has-float-label field-with-icon">
        <i class="fas fa-key"></i>  <input class="form-control" type="password" id="userPassword" placeholder="Password" formControlName="userPassword">
        <label for="userPassword">Password</label>
        <div *ngIf="loginForm.controls['userPassword'].invalid && (loginForm.controls['userPassword'].dirty || loginForm.controls['userPassword'].touched)"
             class="error-msg">
          <div *ngIf="loginForm.controls['userPassword'].errors.required">
            Password is required.
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3 text-right"><a href="javascript:void(0)">Forgot Password?</a></div>
    <div class="col-12 text-center"> <button [disabled]="submitClick" class="btn btn-lg btn-primary login-button">LOGIN</button></div>
  </div>

</form>
</div>
