.access-rights-checkbox {
  .checkbox {
      flex:0 0 33.33%;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      input {
          margin-right: 7px;
      }
    @media (max-width: 768px) {
          flex:0 0 50%;
      }
  }
}
