

<div class="container-fluid">
    <div class="card mb-4 list-card">
      <div class="card-header">


      </div>
      <div class="card-body pt-0">
        <h5 style="text-transform: uppercase; text-align: center;font-size: 18px;line-height: 30px;margin: 0;">PAYMENT DETAILS</h5>

        <button [disabled]="isPaymentDetailPrinting" (click)="getBase64EncodedImage()" class="btn  btn-primary float-right">Print</button>
        <form  class="search-filter d-none d-md-block" [ngClass]="searchFilter ? 'd-block' : 'd-none'">
          <div class="row mb-2">


              <div class="col-sm">
                  <div class="form-group">
                      <div class="input-group datepicker">
                          <label class="date-label">From Date</label>
                          <input autocomplete="new"  [maxDate]="maxDate" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentSearchModel.startDate"  placeholder="dd-mm-yyyy" name="dp"
                          ngbDatepicker
                              #d1="ngbDatepicker" (click)="d1.toggle()">
                          <div class="input-group-append">
                              <button  class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                  type="button" ><i class="far fa-calendar-alt"></i></button>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-sm">
                  <div class="form-group">
                      <div class="input-group datepicker">
                          <label class="date-label">To Date</label>
                          <input autocomplete="new"  [maxDate]="maxDate" class="form-control" [ngModelOptions]="{standalone: true}"  placeholder="dd-mm-yyyy" name="dp"
                          ngbDatepicker [(ngModel)]="paymentSearchModel.endDate"
                              #d2="ngbDatepicker" (click)="d2.toggle()">
                          <div class="input-group-append">
                              <button  class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                                  type="button" ><i class="far fa-calendar-alt"></i></button>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-sm text-right">
                  <div class="form-group">
                      <button type="reset" (click)="clearFilter()" class="btn btn-outline btn-outline-dark">Reset</button>
                      <button type="button" (click)="GetPaymentModel()" class="btn btn-outline btn-outline-dark">Search</button>
                  </div>
              </div>
          </div>
      </form>
        <table style="background:transparent; margin-top:15px; margin-bottom:20px; width: 100%;border:0px solid #ccc; border-collapse: collapse;">
         <thead>
                             <tr>
                                <th style="padding: 5px 5px;
                                  background: #f5f5f5;
                                  font-size: 12px;
                                  line-height: 18px; vertical-align: middle; text-align:left; width:14%;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">Job #.</th>
                                  <th style="padding: 5px 5px;
                                  background: #f5f5f5;
                                  font-size: 12px;
                                  line-height: 18px; vertical-align: middle; text-align:left; width:12%;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">Bill Date</th>
                                  <th style="padding: 5px 5px;
                                  background: #f5f5f5;
                                  font-size: 12px;
                                  line-height: 18px; vertical-align: middle; text-align:left; width:23%;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;">Client Name </th>

                                  <th style="padding: 5px 5px;
                                  background: #f5f5f5;
                                  font-size: 12px;
                                  line-height: 18px; vertical-align: middle; text-align:left; width:20%;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">Engineer Name</th>

                                  <th style="padding: 5px 5px;
                                  background: #f5f5f5;
                                  font-size: 12px;
                                  line-height: 18px; vertical-align: middle; text-align:left; width:15%;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">Bill/Outward Status</th>
                                  <th style="padding: 5px 5px;
                                  background: #f5f5f5;
                                  font-size: 12px;
                                  line-height: 18px; vertical-align: middle; text-align:right; width:15%;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">Paid Immediately</th>
                             </tr>

                              </thead>
                              <tbody>
                              <!--cash record-->
                              <ng-container *ngIf="paymentListModel && paymentListModel.paymentListModel.length>0">
                                <ng-container  *ngFor="let listModel of paymentListModel.paymentListModel">
                                  <tr>
                                    <td colspan="6" style="padding: 15px 5px;text-align: center;font-size: 14px;
                                    line-height: 18px; font-weight: bold;">{{listModel.methodType}}</td>
                               </tr>
                               <tr  *ngFor="let paymentModel of listModel.lstPaymentbymethod">
                                    <td style="padding: 5px 5px;
                                    background: transparent;
                                    font-size: 12px;
                                    line-height: 18px; vertical-align: top; text-align:left;">{{paymentModel.jobNumber}}</td>
                                    <td style="padding: 5px 5px;
                                    background: transparent;
                                    font-size: 12px;
                                    line-height: 18px; vertical-align: top; text-align:left;">{{paymentModel.billDate | date: 'dd/MM/yyyy'}}</td>

                                      <td style="padding: 5px 5px;
                                    background: transparent;
                                    font-size: 12px;
                                    line-height: 18px; vertical-align: top; text-align:left;">{{paymentModel.companyName}}</td>
                                    <td style="padding: 5px 5px;
                                    background: transparent;
                                    font-size: 12px;
                                    line-height: 18px; vertical-align: top; text-align:left;">{{paymentModel.engineerName}}</td>
                                    <td style="padding: 5px 5px;
                                    background: transparent;
                                    font-size: 12px;
                                    line-height: 18px; vertical-align: top; text-align:left;">{{paymentModel.billReportStatus}}</td>

                                    <td style="padding: 5px 5px;
                                    background: transparent;
                                    font-size: 12px;
                                    line-height: 18px; vertical-align: top; text-align:right;">{{paymentModel.paidImmediately}} /-</td>
                               </tr>
                                   <tr>
                                      <td colspan="6" style="text-align: right;font-size: 14px;line-height: 18px;padding: 10px 5px; font-weight:bold; border-bottom: 1px solid #ccc;">{{listModel.paymentByMethodTotal}}</td>
                                  </tr>
                                </ng-container>
                              </ng-container>



                        </tbody>
                     <tfoot>
                            <tr>
                               <td colspan="4" style="text-align: right;font-size: 14px;line-height: 30px;"></td>
                                <td  style="text-align: left;font-size: 14px;font-weight:bold;line-height: 30px;">Total</td>
                               <td style="text-align: right;font-size: 14px;font-weight:bold;line-height: 18px; border-bottom: 2px solid #000;">{{paymentListModel ? paymentListModel.paymentListTotal:''}}</td>
                          </tr>
                    </tfoot>
        </table>

      </div>
    </div>
  </div>



