<form [formGroup]="billGenerationForm" novalidate>
  <div class="container form-container pl-0 pr-0">
    
    <div class="card mt-1">
      <div class="card-header">
        <h5>{{bill.billId > 0 ? 'Edit':'Add'}} Bill # {{bill.billId}}</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <div class="row">
            <div class="d-flex flex-wrap align-items-end col-auto">
              <ng-container *ngIf="hideTag">
                <span class="badge badge-dark mr-1" *ngFor="let tag of bill.lstJobNumbers">
                  {{tag.searchValue}}
                  <i class="far fa-times-circle" (click)="deleteTag(tag)"></i>
                </span>
              </ng-container>
              <div class="d-flex align-items-end">
                <input class="form-control"
                       [ngbTypeahead]="searchJobNumber"
                       #inputJobNumbers
                       (selectItem)="selectedJobNumber($event)"
                       [inputFormatter]="formatter"
                       [resultFormatter]="formatter"
                       autofocus placeholder="Select Job Number" />
                <small *ngIf="searching" class="form-text text-muted">searching...</small>
                <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>

              </div>
            </div>

          </div>
          <div *ngIf="!bill.lstJobNumbers || (bill.lstJobNumbers && bill.lstJobNumbers.length <= 0)"
               class="error-msg">
            <div>
              Job number is required.
            </div>
          </div>
          <br />
          <!--table listing statrt hover-->
          <div *ngIf="bill.lstJobNumbers" id="no-more-tables">
            <!-- This id used for responsive table -->

            <table class="table row-border hover">
              <thead>
                <tr>
                  <th style="width: 25%;">Job Details</th>
                  <th style="width: 15%;">Model No</th>
                  <th style="width: 20%;">Serial No</th>
                  <th style="width: 20%;">Advance Amount</th>
                  <th style="width: 20%;">Service Amount</th>
                  <!--<th style="width: 10%;" class="text-center actions-td cursor">Action</th>-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tag of bill.lstJobNumbers;let i = index">
                  <td data-title="Job Details">{{tag.searchValue}}</td>
                  <td data-title="Model No">{{tag.modelNo}}</td>
                  <td data-title="Serial No">{{tag.serialNo}}</td>
                  <td data-title="Advance Amount">{{tag.advanceAmount}} /-</td>
                  <td data-title="Service Amount"><input style="width:90%" type="number" (keyup)="onKey($event, i)" value="{{tag.serviceAmount}}"></td>
                  <!--<td data-title="Actions" class="action text-center actions-td">
                    <div class="d-flex justify-content-center">
                      <a href="javascript:void(0)">
                        <i class="far fa-trash-alt orange" placement="top" (click)="deleteTag(tag)"
                           ngbTooltip="Delete"></i>
                      </a>
                    </div>
                  </td>-->
                </tr>
                <tr class="text-center" *ngIf="bill.lstJobNumbers.length == 0">
                  <td colspan="6" class="empty-data">No job number added yet...</td>
                </tr>
              </tbody>
            </table>
            <!--table listing end-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Other Bill Details</h5>
      </div>
      <div class="card-body">
        <div class="row">

          <!--<div class="col-12 col-md-6 col-lg-4">
    <div class="form-group has-float-label">
      <input class="form-control" [(ngModel)]="bill.billId" formControlName="billId" id="billNumber" type="text" placeholder="Bill Number" />
      <label for="billNumber">Bill Number</label>

    </div>
  </div>-->

          <!--<div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="enggName" [(ngModel)]="bill.enggName" type="text" formControlName="enggName" placeholder="Engg. Name" />
              <label for="enggName">Engg. Name</label>
              <div *ngIf="billGenerationForm.controls['enggName'].invalid &&
                          (billGenerationForm.controls['enggName'].dirty || billGenerationForm.controls['enggName'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['enggName'].errors.required">
                  Engg. name is required.
                </div>
              </div>
            </div>
          </div>-->
          <!--<div class="col-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label class="radio-btns-label d-block">Tested Ok</label>
      <div class="custom-control custom-radio d-inline-block mt-3">
        <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="bill.testedOk" id="customRadio1" name="customRadioTestedOk" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Yes</label>
      </div>
      <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
        <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="bill.testedOk" id="customRadio2" name="customRadioTestedOk" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">No</label>
      </div>
    </div>
  </div>-->
          <!--<div class="col-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label class="radio-btns-label d-block">Material Used</label>
      <div class="custom-control custom-radio d-inline-block mt-3">
        <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="bill.materialUsed" id="customRadio3" name="customRadioMaterialUsed" class="custom-control-input">
        <label class="custom-control-label" for="customRadio3">Yes</label>
      </div>
      <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
        <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="bill.materialUsed" id="customRadio4" name="customRadioMaterialUsed" class="custom-control-input">
        <label class="custom-control-label" for="customRadio4">No</label>
      </div>
    </div>
  </div>-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="serviceAmount" [(ngModel)]="bill.serviceAmount" formControlName="serviceAmount" type="number" placeholder="Service Amount" />
              <label for="serviceAmount">Service Amount</label>
              <div *ngIf="billGenerationForm.controls['serviceAmount'].invalid &&
                          (billGenerationForm.controls['serviceAmount'].dirty || billGenerationForm.controls['serviceAmount'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['serviceAmount'].errors.required">
                  Service amount is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="advanceAmount" [(ngModel)]="bill.advanceAmount" type="number" placeholder="Advance Amount" formControlName="advanceAmount" />
              <label for="advanceAmount">Advance Amount</label>
              <div *ngIf="billGenerationForm.controls['advanceAmount'].invalid &&
                          (billGenerationForm.controls['advanceAmount'].dirty || billGenerationForm.controls['advanceAmount'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['advanceAmount'].errors.required">
                  Advance amount is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="paidImmediatlyAmount" (keyup)="onKeyFromPaidImmidiatly()" [(ngModel)]="bill.paidImmediatlyAmount" formControlName="paidImmediatlyAmount" type="number" placeholder="Paid Immediatly Amount" />
              <label for="paidImmediatlyAmount">Paid Immediatly Amount</label>
              <div *ngIf="billGenerationForm.controls['paidImmediatlyAmount'].invalid &&
                          (billGenerationForm.controls['paidImmediatlyAmount'].dirty || billGenerationForm.controls['paidImmediatlyAmount'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['paidImmediatlyAmount'].errors.required">
                  Paid immediatly amount is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="oustandingAmount" [(ngModel)]="bill.outstandingAmount" formControlName="outstandingAmount" type="number" placeholder="Oustanding Amount" />
              <label for="oustandingAmount">Oustanding Amount</label>
              <div *ngIf="billGenerationForm.controls['outstandingAmount'].invalid &&
                          (billGenerationForm.controls['outstandingAmount'].dirty || billGenerationForm.controls['outstandingAmount'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['outstandingAmount'].errors.required">
                  Outstanding amount is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="enggName" [(ngModel)]="bill.enggName" type="text" formControlName="enggName" placeholder="Engg. Name" />
              <label for="enggName">Engg. Name</label>
              <div *ngIf="billGenerationForm.controls['enggName'].invalid &&
                          (billGenerationForm.controls['enggName'].dirty || billGenerationForm.controls['enggName'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['enggName'].errors.required">
                  Engg. name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <div class="input-group datepicker">
                <label class="date-label">Bill Date</label>
                <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="bill.ngbBillDate" name="dp"
                       ngbDatepicker
                       #d1="ngbDatepicker" (click)="d1.toggle()" formControlName="billDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                          type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="billGenerationForm.controls['billDate'].invalid &&
                          (billGenerationForm.controls['billDate'].dirty || billGenerationForm.controls['billDate'].touched)"
                   class="error-msg">
                <div *ngIf="billGenerationForm.controls['billDate'].errors.required">
                  Bill date is required.
                </div>
              </div>

            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <div class="form-group">
              <label class="radio-btns-label d-block">Print Status</label>
              <div class="custom-control custom-radio d-inline-block mt-3">
                <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.printStatus" id="customRadio5" name="customRadioPrintStatus" class="custom-control-input">
                <label class="custom-control-label" for="customRadio5">Printed</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.printStatus" id="customRadio6" name="customRadioPrintStatus" class="custom-control-input">
                <label class="custom-control-label" for="customRadio6">Not Printed</label>
              </div>
            </div>
          </div>
          <!--<div class="col-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label class="radio-btns-label d-block">Material Added</label>
      <div class="custom-control custom-radio d-inline-block mt-3">
        <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="bill.materialAdded" id="customRadio7" name="customRadioMaterialAdded" class="custom-control-input">
        <label class="custom-control-label" for="customRadio7">Yes</label>
      </div>
      <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
        <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="bill.materialAdded" id="customRadio8" name="customRadioMaterialAdded" class="custom-control-input">
        <label class="custom-control-label" for="customRadio8">No</label>
      </div>
    </div>
  </div>-->
          <div class="col-12 col-md-4 col-lg-4">
            <div class="form-group">
              <label class="radio-btns-label d-block">SMS Sent</label>
              <div class="custom-control custom-radio d-inline-block mt-3">
                <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.smsSent" id="customRadio9" name="customRadioSmsSent" class="custom-control-input">
                <label class="custom-control-label" for="customRadio9">Yes</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.smsSent" id="customRadio10" name="customRadioSmsSent" class="custom-control-input">
                <label class="custom-control-label" for="customRadio10">No</label>
              </div>
            </div>
          </div>



        </div>
        <div *ngIf="bill.paidImmediatlyAmount > 0" class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <div>
              <label class="radio-btns-label d-block">Payment Mode</label>
              <div class="custom-control custom-radio d-inline-block mt-3">
                <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.paymentMode" id="customRadio11" name="customRadioPaymentMode" class="custom-control-input">
                <label class="custom-control-label" for="customRadio11">Cash</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.paymentMode" id="customRadio12" name="customRadioPaymentMode" class="custom-control-input">
                <label class="custom-control-label" for="customRadio12">Cheque</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="3" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.paymentMode" id="customRadio13" name="customRadioPaymentMode" class="custom-control-input">
                <label class="custom-control-label" for="customRadio13">Online Transfer</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="4" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.paymentMode" id="customRadio14" name="customRadioPaymentMode" class="custom-control-input">
                <label class="custom-control-label" for="customRadio14">Google Pay</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="5" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.paymentMode" id="customRadio15" name="customRadioPaymentMode" class="custom-control-input">
                <label class="custom-control-label" for="customRadio15">Phone Pay</label>
              </div>
              <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                <input type="radio" value="6" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="bill.paymentMode" id="customRadio16" name="customRadioPaymentMode" class="custom-control-input">
                <label class="custom-control-label" for="customRadio16">Other</label>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div *ngIf="bill.paidImmediatlyAmount > 0" class="row">
          <div *ngIf="bill.paymentMode == '2'" class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <div class="input-group datepicker">
                <label class="date-label">Cheque Date</label>
                <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="bill.ngbChequeDate" name="dp"
                       ngbDatepicker
                       #d2="ngbDatepicker" (click)="d2.toggle()" formControlName="chequeDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                          type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="!bill.ngbChequeDate"
                   class="error-msg">
                <div>
                  Cheque date is required.
                </div>
              </div>

            </div>
          </div>
          <div *ngIf="bill.paymentMode == '2'" class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" [(ngModel)]="bill.chequeNo" formControlName="chequeNo" id="chequeNo" type="text" placeholder="Cheque Number" />
              <label for="chequeNo">Cheque Number</label>
              <div *ngIf="!bill.chequeNo"
                   class="error-msg">
                <div>
                  Cheque number is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
              <input class="form-control" id="paymentRecievedBy" [(ngModel)]="bill.paymentRecievedBy" formControlName="paymentRecievedBy" type="text" placeholder="{{bill.paymentMode == '2' ? 'Bank Name' : 'Payment Recieved By'}}" />
              <label for="paymentRecievedBy">{{bill.paymentMode == '2' ? 'Bank Name' : 'Payment Recieved By'}}</label>
              <div *ngIf="!bill.paymentRecievedBy && (bill.paymentMode == '2' || bill.paymentMode == '1')"
                   class="error-msg">
                <div>
                  {{bill.paymentMode == '1' ? 'Payment recieved by is required.' : 'Bank name is required.'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <footer class="text-center pt-2 pb-3">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="billGenerationForm.valid && validateForm() && saveBill()">
        Save
      </button>
    </footer>
  </div>
</form>
