

<div class="container-fluid">
    <!--success message-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<!--success message-->
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="float-left">Client Master</h4>
            <button class="btn btn-search btn-primary float-right d-sm-none"
                (click)="toggleSearch()"><i class="icon-search"></i></button>
                <button class="btn  btn-primary float-right" (click)="addClientPopup(clientPopup)">Add Client</button>
        </div>
        <div class="card-body">
            <!--table listing statrt hover-->
            <div id="no-more-tables">
                <!-- This id used for responsive table -->

              <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                  <tr>
                    <th>Client Id</th>
                    <th>Title</th>
                    <th>Customer Name</th>
                    <th>Company Name</th>
                  </tr>
                </thead>
                <tbody *ngIf="customers?.length != 0">
                  <tr *ngFor="let customer of customers">
                      <td>{{ customer.clientId }}</td>
                      <td>{{ customer.clientTitleId==1?"Mr":"Ms" }}</td>
                      <td>{{ customer.clientName }}</td>
                      <td>{{ customer.companyName }}</td>

                  </tr>
                </tbody>
                <tbody *ngIf="customers?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
                <tbody>
              </table>
                <!--table listing end-->
            </div>
        </div>
    </div>
</div>

<!-- Ng modal window -->
<ng-template #clientPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" ngbAutofocus> Add Client</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addClientForm" novalidate>
       <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <span class="plain-select">
                    <select class="form-control" id="select3" formControlName="title">
                        <option value="" selected>Select</option>
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Miss</option>
                    </select>
                    <label class="select-label">Title</label>
                </span>
                <div *ngIf="addClientForm.controls['title'].invalid && (addClientForm.controls['title'].dirty || addClientForm.controls['title'].touched)"
                class="error-msg">
                <div *ngIf="addClientForm.controls['title'].errors.required">
                   Title is required.
                </div>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
                <input class="form-control" id="personName" type="text" placeholder="Person Name"
                    formControlName="personName" />
                <label for="personName">Person Name</label>
                <div *ngIf="addClientForm.controls['personName'].invalid && (addClientForm.controls['personName'].dirty || addClientForm.controls['personName'].touched)"
                    class="error-msg">
                    <div *ngIf="addClientForm.controls['personName'].errors.required">
                        Person name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
                <input class="form-control" id="companyName" type="text" placeholder="Company Name"
                    formControlName="companyName" />
                <label for="companyName">Company Name</label>
                <div *ngIf="addClientForm.controls['personName'].invalid && (addClientForm.controls['companyName'].dirty || addClientForm.controls['companyName'].touched)"
                    class="error-msg">
                    <div *ngIf="addClientForm.controls['companyName'].errors.required">
                        Company name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group has-float-label">
                <input class="form-control" type="text" id="phoneNo" placeholder=" Phone Number"
                    formControlName="phoneNo">
                <label for="phoneNo"> Phone Number</label>
                <div *ngIf="addClientForm.controls['phoneNo'].invalid && (addClientForm.controls['phoneNo'].dirty || addClientForm.controls['phoneNo'].touched)"
                    class="error-msg">
                    <div *ngIf="addClientForm.controls['phoneNo'].errors.required">
                       Phone number is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group has-float-label">
                <input class="form-control" type="text" id="address" placeholder="Address">
                <label for="address">Address</label>

            </div>
        </div>
       </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
        <button class="btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="icon-select"></i> Confirm</h4>
    </div>
    <div class="modal-body">
        <p class="text-center">Are you sure, you want to delete?</p>
    </div>
    <div class="modal-footer no-top-border">
        <button class="btn btn-primary" (click)="changeSuccessMessage(); modal.close('Save click')">OK</button>
        <button class="btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>
