.lumsum-form {
    .math-signs {
        padding: 10px;
        font-size: 1.5rem;
        line-height: 1;
    }
    @media (max-width:767px) {
        flex-wrap: wrap;
        .form-group {
            width: 100%;
        }
        .math-signs {
            display: block;
    width: 100%;
    text-align: center;
        }
    } 
}