<!--layout start-->
<div class="layout">

    <!--top header and side navigation start here-->
    <app-header *ngIf="sharedService.isLoggedIn()"></app-header>
    <div class="side-nav expand-lg" *ngIf="sharedService.isLoggedIn()">
        <app-sidebar></app-sidebar>
      </div>
    <!--top header and side navigation end here-->

    <!--page main content div start here-->
    <div class="page-container">
        <div class="main-content">

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen] = "true" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
    </ngx-spinner>

            <router-outlet></router-outlet>


        </div>
    </div>


    <!--page main content div end here-->

</div>
<!--layout end-->
