<form [formGroup]="addInwardForm" novalidate>
  <div class="container form-container">
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

      <h3 class="text-center mb-4">{{inward.inwardId>0?'Edit':'Add'}} Inward </h3>
      <div class="card">
          <div class="card-header">
              <h4>Inward Date</h4>
          </div>
          <div class="card-body pb-0 mb-0">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group">
                          <div class="input-group datepicker">
                              <label class="date-label">Inward Date</label>
                              <input class="form-control"  placeholder="dd-mm-yyyy" [(ngModel)]="inward.ngbInwardDate" name="dp"
                              ngbDatepicker
                                  #d1="ngbDatepicker" (click)="d1.toggle()"  formControlName="inwardDate">
                              <div class="input-group-append">
                                  <button  class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                      type="button" ><i class="far fa-calendar-alt"></i></button>
                              </div>
                          </div>
                          <div *ngIf="addInwardForm.controls['inwardDate'].invalid &&
                          (addInwardForm.controls['inwardDate'].dirty || addInwardForm.controls['inwardDate'].touched)"
                              class="error-msg">
                              <div *ngIf="addInwardForm.controls['inwardDate'].errors.required">
                                 Inward date is required.
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4" *ngIf="inward.inwardId>0">
                    <div class="form-group has-float-label">

                         <input value="{{inward.inwardId}}" disabled class="form-control" readonly />

                        <label for="barCode">Bar Code</label>

                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="card mt-1">
          <div class="card-header">
              <h4>Inward Details</h4>
          </div>
          <div class="card-body pb-0 mb-0">
              <div class="row">
                  <div class="col-12 col-md-8 col-lg-8">
                      <div class="form-group">
                          <span class="plain-select">
                              <input id="customerName" type="text" class="form-control"
                               formControlName="customerName"
                               [(ngModel)]="inward.customerTypeAhead" [inputFormatter]="formatter"
                               [resultFormatter]="formatter"
                               [editable]='false' [ngbTypeahead]="searchCustomer"/>

                               <small *ngIf="searching" class="form-text text-muted">searching...</small>
                               <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>

                               <label for="CustomerName" class="select-label">Customer Name</label>
                          </span>
                          <div *ngIf="addInwardForm.controls['customerName'].invalid && (addInwardForm.controls['customerName'].dirty || addInwardForm.controls['customerName'].touched)"
                          class="error-msg">
                          <div *ngIf="addInwardForm.controls['customerName'].errors.required">
                            Customer name is required.
                          </div>
                         </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4 pt-1">
                      <a href="javascript:void(0)"  class="btn btn-sm btn-outline btn-outline-dark mt-2" (click)="addClientPopup(null)">Add Customer<i class="ml-1 fas fa-plus"></i></a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group has-float-label">
                         <input id="modelNumber" type="text" class="form-control"
                         formControlName="modelNumber"
                               [(ngModel)]="inward.modelNoTypeAhead" [inputFormatter]="formatter"
                               [resultFormatter]="formatter"
                               [ngbTypeahead]="searchModel"
                               (selectItem)="materialTypeAheadSelected($event)"

                               />
                               <small *ngIf="searching" class="form-text text-muted">searching...</small>
                               <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>

                          <label for="modelNumber">Model Number </label>
                          <div *ngIf="addInwardForm.controls['modelNumber'].invalid &&
                           (addInwardForm.controls['modelNumber'].dirty
                          || addInwardForm.controls['modelNumber'].touched)"
                          class="error-msg">
                          <div *ngIf="addInwardForm.controls['modelNumber'].errors.required">
                              Model Number is required.
                          </div>
                         </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group has-float-label">
                          <input id="materialType" type="text" class="form-control" formControlName="materialType"
                               [(ngModel)]="inward.materialTypeAhead" [inputFormatter]="formatter"
                               [resultFormatter]="formatter"
                               [ngbTypeahead]="searchMaterialType"
                               (selectItem)="materialTypeAheadSelected($event)"
                                />
                               <small *ngIf="searching" class="form-text text-muted">searching...</small>
                               <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>

                          <label for="materialType">Material Type</label>
                          <div *ngIf="addInwardForm.controls['materialType'].invalid &&
                          (addInwardForm.controls['materialType'].dirty ||
                          addInwardForm.controls['materialType'].touched)"
                          class="error-msg">
                          <div *ngIf="addInwardForm.controls['materialType'].errors.required">
                              Material type is required.
                          </div>
                         </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group has-float-label">
                        <input id="companyName" type="text"  class="form-control"
                        formControlName="companyName"
                          [(ngModel)]="inward.companyNameTypeAhead" [inputFormatter]="formatter"
                          [resultFormatter]="formatter"
                          [ngbTypeahead]="searchCompanyName"
                          (selectItem)="materialTypeAheadSelected($event)"
                           />
                          <small *ngIf="searching" class="form-text text-muted">searching...</small>
                          <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>

                          <label for="companyName">Company Name </label>
                          <div *ngIf="addInwardForm.controls['companyName'].invalid &&
                          (addInwardForm.controls['companyName'].dirty ||
                          addInwardForm.controls['companyName'].touched)"
                          class="error-msg">
                          <div *ngIf="addInwardForm.controls['companyName'].errors.required">
                              Company name is required.
                          </div>
                         </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card mt-1">
          <div class="card-header">
              <h4>Other Details</h4>
          </div>
          <div class="card-body pb-0 mb-0">
            <div class="row">

              <div class="col-12 col-md-4 col-lg-4">
                  <div class="form-group has-float-label">
                      <input class="form-control" type="text" id="serialNumber"
                      [(ngModel)]="inward.serialNo"  formControlName="serialNumber"
                       placeholder="Serial Number">
                      <label for="serialNumber">Serial Number</label>
                      <div *ngIf="addInwardForm.controls['serialNumber'].invalid &&
                      (addInwardForm.controls['serialNumber'].dirty
                      || addInwardForm.controls['serialNumber'].touched)"
                      class="error-msg">
                      <div *ngIf="addInwardForm.controls['serialNumber'].errors.required">
                          Serial Number is required.
                      </div>
                     </div>
                  </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4">
                  <div class="form-group has-float-label">
                      <input class="form-control" type="text" id="ProblemDescription"
                      [(ngModel)]="inward.problemDescription"  formControlName="ProblemDescription"
                       placeholder="Problem Description">
                      <label for="ProblemDescription">Problem Description</label>
                      <div *ngIf="addInwardForm.controls['ProblemDescription'].invalid &&
                      (addInwardForm.controls['ProblemDescription'].dirty
                      || addInwardForm.controls['ProblemDescription'].touched)"
                      class="error-msg">
                      <div *ngIf="addInwardForm.controls['ProblemDescription'].errors.required">
                          Problem Description is required.
                      </div>
                     </div>
                  </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4">
                  <div class="form-group has-float-label">
                      <input class="form-control" type="text" id="EnggName"
                      [(ngModel)]="inward.enggName" placeholder="Engineer Name"
                      formControlName="EnggName" >
                      <label for="EnggName">Engineer Name</label>
                      <div *ngIf="addInwardForm.controls['EnggName'].invalid &&
                      (addInwardForm.controls['EnggName'].dirty
                      || addInwardForm.controls['EnggName'].touched)"
                      class="error-msg">
                      <div *ngIf="addInwardForm.controls['EnggName'].errors.required">
                          Engineer Name is required.
                      </div>
                     </div>
                  </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4">
                  <div class="form-group">
                      <div class="custom-control custom-checkbox mt-3">
                          <input type="checkbox"  [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.isOwner"
                           class="custom-control-input" id="IsOwner" >
                          <label class="custom-control-label" for="IsOwner">Owner</label>
                      </div>
                  </div>
              </div>
          </div>
              <div class="row">
                  <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group has-float-label">
                          <input class="form-control" type="text"  id="mobileNumber"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.mobileNumber" placeholder="Mobile Number">
                          <label for="mobileNumber">Mobile Number</label>
                      </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                          <span class="plain-select">
                              <select class="form-control"  [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="inward.smsStatus"  id="smsStatus">

                                  <option *ngFor="let c of smsStatuses" [ngValue]="c.id">{{c.name}}</option>

                              </select>
                              <label for="smsStatus" class="select-label">SMS Status</label>
                          </span>

                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group has-float-label">
                          <input class="form-control" type="text"
                          [(ngModel)]="inward.receiverName" id="receiverName" placeholder="Receiver Name" formControlName="receiverName">
                          <label for="receiverName">Receiver Name</label>
                          <div *ngIf="addInwardForm.controls['receiverName'].invalid && (addInwardForm.controls['receiverName'].dirty || addInwardForm.controls['receiverName'].touched)"
                          class="error-msg">
                          <div *ngIf="addInwardForm.controls['receiverName'].errors.required">
                              Receiver name is required.
                          </div>
                         </div>
                      </div>

                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                      <div>
                          <label class="radio-btns-label d-block">Problem Detected</label>
                          <div class="custom-control custom-radio d-inline-block mt-3">
                              <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="inward.isProblemDetected"
                               id="customRadio2"
                              name="customRadioIsProblemDetected" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio2">Yes</label>
                          </div>
                          <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                              <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="inward.isProblemDetected"
                              id="customRadio3" name="customRadioIsProblemDetected" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio3">No</label>
                          </div>
                          <div class="custom-control custom-checkbox d-inline-block mt-3 ml-5">
                              <input type="checkbox" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="inward.isSpecialJob" class="custom-control-input" id="check4">
                              <label class="custom-control-label" for="check4">Special Job</label>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                          <div class="input-group datepicker">
                              <label class="date-label">Delivery Date</label>
                              <input class="form-control" placeholder="09-09-2020" name="dp" ngbDatepicker
                                  #d2="ngbDatepicker"
                                  [(ngModel)]="inward.ngbDeliveryDate" (click)="d2.toggle()" formControlName="deliveryDate">
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                                      type="button"><i class="far fa-calendar-alt"></i></button>
                              </div>
                          </div>
                          <div *ngIf="addInwardForm.controls['deliveryDate'].invalid && (addInwardForm.controls['deliveryDate'].dirty || addInwardForm.controls['deliveryDate'].touched)"
                              class="error-msg">
                              <div *ngIf="addInwardForm.controls['deliveryDate'].errors.required">
                                 Delivery date is required.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card mt-1">
              <div class="card-header">
                  <h4>Payment Details</h4>
              </div>
              <div class="card-body pb-0 mb-0">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group has-float-label">
                          <input class="form-control" type="text"  [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.advanceAmount" mask="0*.00"   id="advAmount" placeholder="Advance Amount">
                          <label for="advAmount">Advance Amount</label>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group has-float-label">
                          <input class="form-control" type="text" mask="0*.00"  [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.estmRepairingAmount"  id="estAmount" placeholder="Estimate Repearimg Amount">
                          <label for="estAmount">Estimate Repairing Amount</label>
                      </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                          <span class="plain-select">
                              <select class="form-control" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="inward.outwardBillStatus"  id="paymentStatus">

                                  <option *ngFor="let c of billStatuses" [ngValue]="c.id">{{c.name}}</option>
                              </select>
                              <label for="paymentStatus" class="select-label">Outward/Bill Status</label>
                          </span>

                      </div>
                  </div>
              </div>

              </div>
      </div>
     <div class="card mt-1">
      <div class="card-header">
          <h4>Job Details</h4>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-12 col-md-4 col-lg-4">
                  <div>
                      <label class="radio-btns-label d-block">Repaired</label>
                      <div class="custom-control custom-radio d-inline-block mt-3">
                          <input type="radio" value="1" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.isRepaired"  id="customRadio4" name="customRadioIsRepaired" class="custom-control-input">
                          <label class="custom-control-label" for="customRadio4">Yes</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block mt-3 ml-3">
                          <input type="radio" value="2" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.isRepaired"  id="customRadio5" name="customRadioIsRepaired" class="custom-control-input">
                          <label class="custom-control-label" for="customRadio5">No</label>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <textarea class="form-control"    [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="inward.repairedRemark"  id="repairedRemark" placeholder="Repaired Remark"></textarea>

                    <label for="repairedRemark">Enter Repaired Remark</label>
                </div>
            </div>
              <div class="col-12 col-md-4 col-lg-4">
                  <div class="form-group">
                      <span class="plain-select">
                          <select class="form-control" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.printStatus"  id="printStatus">

                              <option *ngFor="let c of printStatuses" [ngValue]="c.id">{{c.name}}</option>

                          </select>
                          <label for="printStatus" class="select-label">Print Status</label>
                      </span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12 col-md-4 col-lg-4">
                  <div class="form-group">
                      <span class="plain-select">
                          <select class="form-control" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="inward.repeatJob"  id="repeatJob">

                              <option *ngFor="let c of repeatJobs" [ngValue]="c.id">{{c.name}}</option>

                          </select>
                          <label for="repeatJob" class="select-label">Repeat Job</label>
                      </span>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group has-float-label">
                    <textarea class="form-control"    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="inward.repeatJobDesc"  id="repeatJobDesc" placeholder="Enter Repeat Job Description"></textarea>

                      <label for="repeatJobDesc">Repeat Job Description</label>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group has-float-label">
                      <input class="form-control" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="inward.clientDc" type="text" id="clientDc" placeholder="Client DC">
                      <label for="clientDc">Client DC</label>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group has-float-label">
                      <input class="form-control" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="inward.accBarCode" type="text" id="accountBarcode" placeholder="Account Barcode">
                      <label for="accountBarcode">Account Barcode</label>
                  </div>
              </div>
          </div>
      </div>
     </div>
      <div class="card mt-1">
          <div class="card-header">
              <h5>Accessories Given</h5>
          </div>
          <div class="card-body">
              <div class="form-group">
                  <div class="row">
                      <div class="d-flex flex-wrap align-items-end col-auto">
                          <ng-container *ngIf="hideTag">
                              <span class="badge badge-dark mr-1" *ngFor="let tag of inward.lstAccessories">{{tag.searchValue}}
                                  <i class="far fa-times-circle" (click)="deleteTag(tag)"></i>
                              </span>
                          </ng-container>
                          <div class="d-flex align-items-end">
                              <input class="form-control"

                                  [ngbTypeahead]="searchInventory"
                                   #inputAccessories
                                  (selectItem)="selectedInventory($event)"
                                  [inputFormatter]="formatter"
                                  [resultFormatter]="formatter"
                                   autofocus placeholder="Select Inventory"  (dblclick)="AddTag()">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card mt-1 mb-2">
          <div class="card-header">
              <h5>Upload Photo</h5>
          </div>
          <div class="card-body">
              <app-camera (pictureTaken)="handleImage($event)"></app-camera>

         <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'" [expandable]="true">
          <ngx-dropzone-label>Upload Files</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of inward.inwardFiles" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.originalFilename }}</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
          </div>
      </div>
      <footer>
          <button class="btn btn-secondary" (click)="GoToInwardList()" >Cancel</button>
          <button type="submit" (click)="PrintInward()" *ngIf="inward.inwardId>0" class="btn btn-success">
            Print Inward
        </button>
          <button type="submit" (click)="PrintInwardBarcode()" *ngIf="inward.inwardId>0" class="btn btn-success">
            Print BarCode
        </button>
          <button type="submit" (click)="addInwardForm.valid && SaveInward()" class="btn btn-primary">
              Save
          </button>
      </footer>
  </div>
</form>




