<form [formGroup]="addInwardForm" novalidate>
    <div class="container form-container">
        <!-- <h3 class="text-center mb-4">Employer Details</h3> -->
        <div class="card">
        
            <div class="card-header">
                <h4>Inward Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group datepicker">
                                <input class="form-control" placeholder="Inward Date" name="dp" ngbDatepicker
                                    #d1="ngbDatepicker" (click)="d1.toggle()" formControlName="inwardDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                        type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                            <div *ngIf="addInwardForm.controls['inwardDate'].invalid && (addInwardForm.controls['inwardDate'].dirty || addInwardForm.controls['inwardDate'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['inwardDate'].errors.required">
                                   Inward date is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="taxId" placeholder="Tax ID"
                                formControlName="tax">
                            <label for="taxId">Tax ID</label>
                            <div *ngIf="addInwardForm.controls['tax'].invalid && (addInwardForm.controls['tax'].dirty || addInwardForm.controls['tax'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['tax'].errors.required">
                                    Tax ID is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="employerID" placeholder="Employer ID"
                                formControlName="employerID">
                            <label for="employerID">Employer ID</label>
                            <div *ngIf="addInwardForm.controls['employerID'].invalid && (addInwardForm.controls['employerID'].dirty || addInwardForm.controls['employerID'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['employerID'].errors.required">
                                    Employer ID is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="contactName" placeholder="Contact Name"
                                formControlName="contactName">
                            <label for="contactName">Contact Name</label>
                            <div *ngIf="addInwardForm.controls['contactName'].invalid && (addInwardForm.controls['contactName'].dirty || addInwardForm.controls['contactName'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['contactName'].errors.required">
                                    Contact name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="contactEmail" placeholder="Contact Email"
                                formControlName="contactEmail">
                            <label for="contactEmail">Contact Email</label>
                            <div *ngIf="addInwardForm.controls['contactEmail'].invalid && (addInwardForm.controls['contactEmail'].dirty || addInwardForm.controls['contactEmail'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['contactEmail'].errors.required">
                                    Contact email is required.
                                </div>
                                <div *ngIf="addInwardForm.controls['contactEmail'].errors.email">
                                    Contact email must be a valid email address.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="contactPhone" placeholder="Contact Phone"
                                formControlName="contactPhone">
                            <label for="contactPhone">Contact Phone</label>
                            <div *ngIf="addInwardForm.controls['contactPhone'].invalid && (addInwardForm.controls['contactPhone'].dirty || addInwardForm.controls['contactPhone'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['contactPhone'].errors.required">
                                    Contact phone is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dynamic row added -->
                <div formArrayName="employerAddress"
                    *ngFor="let empAddress of addInwardForm.get('employerAddress')['controls']; let i = index">
                    <div class="row" [formGroupName]="i">
                        <div class="col-12 text-right" *ngIf="addInwardForm.get('employerAddress')['length']>1">
                            <a href="javascript:void(0)" class="delete-row mb-3 d-inline-block danger"
                                (click)="removeEmpAddressBtn(i)">
                                <i class="icon-remove" ngbTooltip="Delete"></i>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" id="addressLine1" formControlName="addressLine1"
                                    placeholder="Address Line 1">
                                <label for="addressLine1">Address Line 1</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" id="addressLine2" formControlName="addressLine2"
                                    placeholder="Address Line 2">
                                <label for="addressLine2">Address Line 2</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" id="city" formControlName="city"
                                    placeholder="Cifty" disabled="true">
                                <label for="city">City</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <span class="plain-select">
                                    <select class="form-control" id="select1" formControlName="state">
                                        <option value="" selected>State</option>
                                        <option>Alabama</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Alaska</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <span class="plain-select">
                                    <select class="form-control" id="select2" formControlName="zip">
                                        <option value="" selected>Zip</option>
                                        <option>35801</option>
                                        <option>94203 </option>
                                        <option>33124 </option>
                                        <option>99501 </option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <span class="plain-select">
                                    <select class="form-control" id="select3">
                                        <option value="" selected>County</option>
                                        <option>Huntsville</option>
                                        <option>Los Angeles</option>
                                        <option>Miami</option>
                                        <option>Anchorage</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dynamic row added end-->
                <!-- dynamic row added btn div-->
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-outline btn-outline-dark mb-2 mr-0"
                            (click)="addEmployerClick()">Add Address</button>
                    </div>
                </div>
                <!-- dynamic row added btn div end -->
            </div>
            <div class="card-header">
                <h4>Other Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <span class="plain-select">
                                <select class="form-control" id="select2">
                                    <option>Pay Period</option>
                                    <option>60 days</option>
                                    <option>30 days</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <span class="plain-select">
                                <select class="form-control" id="select3">
                                    <option>Number of Employees</option>
                                    <option>100</option>
                                    <option>100</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group search-input">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group datepicker">
                                <input class="form-control" placeholder="Effective Date" name="dp" ngbDatepicker
                                    #d="ngbDatepicker" (click)="d.toggle()" formControlName="date">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button"><i class="icon-calendar"></i></button>
                                </div>
                            </div>
                            <div *ngIf="addInwardForm.controls['date'].invalid && (addInwardForm.controls['date'].dirty || addInwardForm.controls['date'].touched)"
                                class="error-msg">
                                <div *ngIf="addInwardForm.controls['date'].errors.required">
                                    Date is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="form-group mb-0">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup>
                                <label ngbButtonLabel class="btn-outline-dark">
                                    <input ngbButton type="radio" value="true"> All
                                </label>
                                <label ngbButtonLabel class="btn-outline-dark">
                                    <input ngbButton type="radio" [value]="false"> Favorite
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <button class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </footer>
    </div>
</form>
