
<form [formGroup]="addClientForm" novalidate class="form-custom-modal">
  <div>
      <div class="card">
          <div class="card-header">
              <h4>{{customer.clientId > 0 ? 'Edit':'Add'}} Customer</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" id="companyName" type="text" placeholder="Company Name"
                         formControlName="companyName" [(ngModel)]="customer.companyName" />
                  <label for="companyName">Company Name</label>
                  <div *ngIf="addClientForm.controls['companyName'].invalid && (addClientForm.controls['companyName'].dirty || addClientForm.controls['companyName'].touched)"
                       class="error-msg">
                    <div *ngIf="addClientForm.controls['companyName'].errors.required">
                      Company name is required.
                    </div>

                  </div>
                  <div *ngIf="customerExist" class="error-msg">
                      {{customerExist}}
                     </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <span class="plain-select">
                    <select class="form-control" [(ngModel)]="customer.clientTitleId" id="titleSelect" formControlName="title">
                      <option value="">Select Title</option>
                      <option *ngFor="let c of titles" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                    <label class="select-label">Title</label>
                  </span>
                  <div *ngIf="addClientForm.controls['title'].invalid && (addClientForm.controls['title'].dirty || addClientForm.controls['title'].touched)"
                       class="error-msg">
                    <div *ngIf="addClientForm.controls['title'].errors.required">
                      Title is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" id="customerName" type="text" placeholder="Customer Name"
                         formControlName="customerName" [(ngModel)]="customer.clientName" />
                  <label for="customerName">Customer Name</label>
                  <div *ngIf="addClientForm.controls['customerName'].invalid && (addClientForm.controls['customerName'].dirty || addClientForm.controls['customerName'].touched)"
                       class="error-msg">
                    <div *ngIf="addClientForm.controls['customerName'].errors.required">
                      Customer name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" id="clientEmail" type="text" placeholder="Customer Email"
                         formControlName="clientEmail" [(ngModel)]="customer.clientEmail" />
                  <label for="clientEmail">Customer Email</label>
                  <div *ngIf="addClientForm.controls['clientEmail'].invalid &&
                  (addClientForm.controls['clientEmail'].dirty
                  || addClientForm.controls['clientEmail'].touched)"
                       class="error-msg">
                       <div *ngIf="addClientForm.controls['clientEmail'].errors.pattern">
                        Email must be a valid email address.
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" id="clientAddress" type="text" placeholder="Customer Address"
                         formControlName="clientAddress" [(ngModel)]="customer.clientAddress" />
                  <label for="clientAddress">Customer Address</label>
                  <div *ngIf="addClientForm.controls['clientAddress'].invalid && (addClientForm.controls['clientAddress'].dirty || addClientForm.controls['clientAddress'].touched)"
                       class="error-msg">
                    <div *ngIf="addClientForm.controls['clientAddress'].errors.required">
                      Customer Address is required.
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" type="number" id="mobileNo" placeholder="Mobile Number 1"
                         formControlName="mobileNo" [(ngModel)]="customer.ownerMobileNo">
                  <label for="mobileNo"> Mobile Number 1</label>
                  <div *ngIf="addClientForm.controls['mobileNo'].invalid && (addClientForm.controls['mobileNo'].dirty || addClientForm.controls['mobileNo'].touched)"
                       class="error-msg">
                    <div *ngIf="addClientForm.controls['mobileNo'].errors.required">
                      Mobile number is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" type="number" id="mobileNoFirst" placeholder="Mobile Number 2"
                         formControlName="mobileNoFirst1" [(ngModel)]="customer.mobileNoFirst">
                  <label for="mobileNoFirst"> Mobile Number 2</label>

                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" type="number" id="telNoFirst" placeholder="Telephone Number 1"
                         formControlName="telNoFirst1" [(ngModel)]="customer.telNoFirst">
                  <label for="telNoFirst"> Telephone Number 1 </label>

                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" type="text" id="telNoSecond" placeholder="Customer GST No."
                         formControlName="telNoSecond2" [(ngModel)]="customer.telNoSecond">
                  <label for="telNoSecond"> Customer GST No. </label>

                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group has-float-label">
                  <input class="form-control" type="text" id="balanceAmount" placeholder="Opening Amount e.g. 5000.00"
                         formControlName="balanceAmount" [(ngModel)]="customer.balanceAmount">
                  <label for="balanceAmount"> Opening Amount </label>

                </div>
              </div>
            </div>
          </div>
      </div>
      <footer>
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
          <button type="submit" (click)="addClientForm.valid && saveCustomer()" class="btn btn-primary">
              Save
          </button>
      </footer>
  </div>
</form>
