/*modal related css here*/

/* modal animation */
@keyframes modal-b-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes modal-fade {
    from {
        top: -6.25rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-backdrop {
    opacity: 0.5;
    animation: ease-in-out .3s modal-b-fade;
    transition: all .3s ease-in-out;
}

.modal {
    top: -6.25rem;
    animation: ease-in-out .3s modal-fade;
    transition: all .3s ease-in-out;

    &.show {
        top: 0;
        animation: ease-in-out .3s modal-fade;
        transition: all .3s ease-in-out;
    }
    .modal-header {
        padding: 0.7rem 1rem;
        border-color: $light-grey;
        i {
            color: $pink;
            margin-right: 0.3125rem;
        }
        .modal-title {
            font-size: 1rem;
            color: $black-blue;
        }
    }
    .modal-body {
        padding: 1.5rem 1rem 1rem 1rem;
        padding-bottom: 0 !important;
    }
    .modal-footer {
        .btn {
            min-width: 4rem;
            padding: 0.25rem;
            font-size: $font14;
        }
        /*just add following class with "modal footer class for remove top border of modal footer"*/
        &.no-top-border {
            border-top:0!important;
            justify-content: center !important;
        }
    }
    
}

.modal {
    .modal-content {
        .form-custom-modal {
            .card-header {
                padding: 0.7rem 1rem;
    border-bottom: 1px solid #f2f3f8;
    h4 {
        font-size: 1rem;
        color: $black-blue;
    }
            }
            .card-body {
                padding: 1.5rem 1rem 0rem 1rem;
            }
            footer {
                display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    .btn {
        min-width: 4rem;
        padding: 0.25rem;
        font-size: 0.8125rem;
    }
            }
        }
    }
}

/* media css for modal */

@media (max-width: 768px) {
    .modal-dialog {
        width: auto;

        .modal-content {
            height: 100%;
        }
    }
}
