/*table related css here*/
table tr th, table tr td {
    font-size: $font13;
    line-height: 1rem;
    padding: 8px 10px !important;

}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td {
	font-size: $font13;
    line-height: 1rem;
    padding: 8px 10px !important;
}

table.dataTable {
	border-collapse: collapse;
}

.dataTables_wrapper {
	.dataTables_filter {
		input {
			border: 1px solid #d7d7d7;
			border-radius: 4px;
			height: 30px;
			padding-left: 5px;
		}
		@media (max-width:375px) {
			width: 162px;
			text-align: left;
			input {
				margin-left: 0;
				width: 100%;
			}
		}
	}
	.dataTables_paginate {
		padding-top: 10px;
		.paginate_button {
			color:  $black-blue !important;
			padding: 2px 7px !important;
			font-size: 0.8125rem;
			line-height: 1;
			min-width: auto !important;
			&.current, &:hover {
				color: #fff !important;
				border-radius: 0.25rem;
    padding: 0.2rem 0.525rem;
    border: 1px solid $black-blue!important;
    background-color: $black-blue!important;
    background: linear-gradient(to bottom, $black-blue 0%, $black-blue 100%)!important;
			}

			&.current {
			&:hover {
				color: #fff !important;
				border-radius: 0.25rem;
    padding: 0.2rem 0.525rem;
    border: 1px solid $black-blue!important;
    background-color: $black-blue!important;
    background: linear-gradient(to bottom, $black-blue 0%, $black-blue 100%)!important;
			}
			}
			&.disabled:hover {
				color: #fff !important;
			}
			
		}
	}
	.dataTables_processing {
		position: fixed;
top: 0px;
left: 0;
width: 100%;
height: 100vh;
margin-left: 0;
margin-top: 0;
padding-top: 20px;
text-align: center;
font-size: 1rem;
line-height: 30;
/* background-color: #fff; */
background: linear-gradient(to right,#2a2929ab 0,#2a2929ab 25%,#2a2929ab 75%,#2a2929ab 100%);
color: #fff;
z-index: 1050;
	}
}

.table {
	table-layout: fixed;
	width: 100% !important;
    thead {
        th {
            border-top: none !important;
			border-bottom: 0.0625rem solid $border !important;
			position: relative;
			vertical-align: middle;
        }
    }

    tbody {
        tr {
            td {
				border-bottom: 0.0625rem solid $border;
				vertical-align: middle;
				color: #6c7293;
                &.action {
                    a {
                        font-size:$font18;
						margin: 0 0.3125rem;
					}
					
					i {
                        font-size:$font18;
						margin: 0;
						color:$pink;
						cursor: pointer;
						&.disabled {
							color:$disabled;
						}
                    }
				}
				&.description-td {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				.description-para {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					margin: 0;
				}
			}
        }
	}
	
	&.editable-table {
		tbody {
			tr {
				background-color:rgba(0, 0, 0, 0.075);
				td {
					.form-control {
						padding-left: 5px;
						padding-right: 5px;
						border: 1px solid $border;
						margin: 0;
					}
					select.form-control {
						padding-right: 1.5rem;
					}
					.plain-select {
						select option {
							font-size: 0.875rem;
						}
						&:after {
							right: 9px;
							top: 44%;
						}
					}
				}
			}
		}
	}
}
.table-pagination {
	.plain-select {
		margin-right: 1.5rem;
	}
	.pagination {
		.page-item{
			margin: 0 0.125rem;
			.page-link {
				border: 0;
				color: $black-blue;
				border-radius: 0.25rem;
				padding: 0.200rem 0.525rem;
			}
			&.active {
				.page-link {
					background-color:  $black-blue;
					border-color:  $black-blue;
					color: $white;
				}
			}
		}
	}
}



// Resposnsive tables css

@media only screen and (max-width: 800px) {
	#no-more-tables {
	.dataTables_wrapper {
		.dataTables_length {
			float: left;
			select {
				height: 30px;
			}
		}
		.dataTables_filter {
			margin-top: 0;
			float: right;
		}
		.dataTables_empty {
			padding-left: 0 !important;
			min-height: 0 !important;
			text-align: center !important;
		}
	}
}



    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables {
		thead  { 
			tr { 
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
		}

		tr { 
			//border-bottom: 0.0625rem solid $border;
			border-bottom: 0;
			padding: 0.625rem 0;
			padding: 10px;
			margin: 10px 0;
			box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.13);
			background: #fff !important;
			border-radius: 4px;
			td { 
				/* Behave  like a "row" */
				border: none;
				border-bottom: 0px solid $border; 
				position: relative;
				padding-left: 43% !important; 
				text-align:left;
				min-height: 20px;
				&:before { 
					/*Label the data*/
					content: attr(data-title);
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 0.75rem;
					left: 0.375rem;
					width: 40%; 
					padding-right: 0.625rem; 
					white-space: normal;
					text-align:left;
					font-weight: bold;
					color: $black-blue !important;
				}
			}
		}

		tr:nth-child(even) {
			background-color: $light-grey;
		}
		.editable-table {
			tbody {
				tr {
					
				
					td {
				
						&::before {
							top: 1.25rem;
						}
						.dollar {
							display: none;
						}
					}
				}
			}
		}
	} 

	.table {
		.actions-td {
			text-align: left !important;
			div {
				justify-content: flex-start !important;
				a {
					margin: 0 !important;;
					margin-right: 0.625rem !important;;
				}
			}
		}
		.status-td {
			text-align: left !important;
		}
	}
	.table-pagination {
		.plain-select {
			margin-right: 0.5rem;
		}
	}
	table.dataTable.no-footer {
		border-bottom: 0;
	}
}
